body {
	max-width: 800px;
	border: solid black;
	background-color: gray;
	font-family: arial;
	margin: 0 auto;
}

.container {
	width: 80%;
	margin: 20px auto;
	/*display: flex;*/
	/*flex-direction: column;*/
}

.white {
	background-color: white;
}

.top_container {
	/*height: 250px;*/
	/*padding: 20px;*/
	margin: 30px 0;
	/*width: 80%;*/
}

.upper_text {
	padding: 10px 0;
	margin: 0px auto;
	width: 85%;
}

.buttons {
	height: 50px;
	width: 85%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.button {
	float: left;
	height: 50px;
	width: 100px;
	font-color: white;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.left {
	background-color: red;
}

.right {
	background-color: blue;
}

.image {
	padding: 20px 0;
	width: 85%;
	margin: 0 auto;
}

img {
	height: auto; 
	width: 100%;
	/*margin: 0 auto;*/
	/*padding: 20px;*/
	/*overflow: hidden;*/
	/*max-width: 100%;*/
	/*max-height: 100%;*/
}

.lower_text {
	width: 85%;
	margin: 0 auto;
	padding-bottom: 20px
}

footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*float: right;*/
	/*width: 100%;*/
	height: 50px;
}

.links {
	display: flex;
	/*float: right;*/
}