body {
	width: 90%;
	background: white;
	max-width: 800px;
	/*margin: 0 auto;*/
}

header {
	display: flex;
	justify-content: space-between;
	height: 200px;
}

.header_box {
	width: 30%;
}

.black {
	background-color: black;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.text {
	font-family: arial;
}

.bottom {
	display: flex;
	height: 200px;
	margin: 10px 0;
}

.bottom_left {
	width: 80%;
}

.bottom_right {
	width: 20%;
}

footer {
	display: flex;
	height: 75px;
	/*margin: 5px;*/
}

.footer_left {
	width: 66%;	
}

.footer_right {
	display: flex;
	width: 34%;
}

.grey {
	background-color: grey;
}

.inner_box {
	width: 30%;
	margin: 0 auto;
}